<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOPPING LIST</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script src="/javascripts/script.js" type="module" defer></script>
</head>
<body>
    <div class="container">
        <div class="userInputContainer">
            <input type="text" class="userInput" placeholder="Enter an item" autofocus>
            <button class="insertItemBtn">Enter</button>
            <div class="camDisplay hidden">
            <video class="camera" width="192" height="144" autoplay>
            </video>
            <button class="shoot fa-solid fa-camera"></button>
        </div>
            <canvas class="pictureSrc hidden"></canvas>
            <button class="snap hidden">Take A Picture</button>
            <button class="choosePreference">Type Order Preference</button>
            <div class="userPreference hidden">
                Check the groceries types by the order you want to see them:
                (The order you see is the default order) 
                <label class="fa-solid fa-carrot">
                    <input type="checkbox" data-type="vegetable"> 
                    Vegetable <span class="orderNum"></span>
                </label>
                <label class="fa-solid fa-apple-whole">
                    <input type="checkbox" data-type="fruit" > 
                    Fruit <span class="orderNum"></span>
                </label>
                
                <label class="fa-solid fa-bottle-water">
                    <input type="checkbox" data-type="drinks" >
                    Drinks <span class="orderNum"></span> 
                </label>
                
                <label class="fa-solid fa-beer">
                    <input type="checkbox" data-type="alcohol" >
                    Alcohol <span class="orderNum"></span> 
                </label>
                <label class="fa-solid fa-kitchen-set">
                    <input type="checkbox" data-type="cooking" > 
                    Cooking <span class="orderNum"></span> 
                </label>
                <label class="fa-solid fa-wheat-awn">
                    <input type="checkbox" data-type="grain" > 
                    Grain <span class="orderNum"></span>
                </label>
                <label class="fa-solid fa-prescription-bottle-medical">
                    <input type="checkbox" data-type="pharm" > 
                    Pharm <span class="orderNum"></span>
                </label>
                <label class="fa-solid fa-broom">
                    <input type="checkbox" data-type="cleaning" >
                    Cleaning <span class="orderNum"></span> 
                </label>
                <label class="fa-solid fa-cheese">
                    <input type="checkbox" data-type="dairy" >
                    Dairy <span class="orderNum"></span> 
                </label>
                <label class="fa-solid fa-drumstick-bite">
                    <input type="checkbox" data-type="meat">
                    Meat <span class="orderNum"></span> 
                </label>
                <button class="saveDefault">Stay Default</button>
                <button class="savePreference">Save</button>
            </div>
        </div>

        <div class="listContainer">
            <button class="orderByAZ">A-Z</button>
            <button class="orderByType">BY TYPE</button>
            <ul class="itemsList">
            </ul>
        </div>
    </div>
</body>
</html>