* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "san-serif";
  text-transform: capitalize;
}

.container {
  text-align: center;
}

.navBar {
  display: flex;
  background-color: aqua;
  width: 100vw;
  height: 5vh;
}

.buttonGroup {
  display: flex;
  margin-left: 5%;
}

.buttonGroup button {
  width: 100px;
  border: 1px solid;
}

.buttonGroup button:not(.disabled) {
  background-color: aquamarine;
}

.buttonGroup button:not(:last-child) {
  border-right: none;
}

.disabled {
  color: grey;
  cursor: not-allowed;
}

.itemName {
  border: 0 solid;
  border-color: white;
  background-color: white;
}

.picture {
  width: 50px;
  height: 50px;
}

.camDisplay {
  position: absolute;
}

.userPreference {
  position: absolute;
  display: grid;
  background-color: white;
}

.orderNum {
  color: red;
}

.searchContainer {
  width: 100vw;
  display: grid;
  justify-items: center;
  margin: 5% 0;
}

.search {
  background: url("../images/magnifying-glass-solid.svg") no-repeat left;
  background-size: 2%;
  background-position: 10px;
  background-clip: padding-box;
  padding: 0 3%;
  width: 80%;
  height: 40px;
  border-radius: 5px;
}

.searchResults {
  width: 80%;
  border-radius: 5px;
  background-color: aqua;
}

hr {
  margin: 5% 0;
}

.allGroceries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}
.category {
  margin: 10%;
}
.category ul {
  width: 20vw;
  height: 20vh;
  overflow: auto;
  border: 2px solid black;
  border-radius: 5px;
}

.category li {
  padding: 5%;
  display: flex;
  justify-content: space-between;
}

li::marker {
  content: "";
}

.itemsList {
  display: grid;
  padding: 10%;
}

.itemsList li {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 2% 0;
}

.itemsList li :nth-child(4) {
  margin-left: 5%;
}

.validRemove {
  width: 20%;
  height: 20%;
  background-color: aqua;
  display: grid;
  justify-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}
